
nav{
	background-color: #181818;
}
.jumbotron{
	background-color: #f8f8f8;
}
.show table{
 border: 1px solid  ;
 text-decoration: none;
 text-align: center;
}
.show thead{
border: 1px solid rgba(0,0,0,0.1);
background-color: #181818;
}
.show tr{
border: 1px solid #212529;
}
.show tr:hover { 
   background-color: rgba(0,0,0,0.03);
}
.show a{ 
   text-decoration: none;
}
.sml{
    width: 500px;
}
.login{
    background-image:url(../../img/dots.png);
    background-color:#000;
    background-repeat:repeat;
    background-attachment:scroll;
    background-position:left top;
}